.container {
    display: flex;
    background: bisque;
    padding: 10px;
    flex-direction: column;
    align-content: stretch;
}

.upper {
    width: fit-content;
    background: blue;
    display: flex;
}

.lower {
    background: beige;
    height: 30px;
    width: 30px;
    margin: 2px;
}

.lower:hover {
    background: red;
}
